# Indirizzo contratto per rete locale Hardhat (chainId 31337)
# Aggiornato automaticamente da "npm run deploy:local"
VITE_CONTRACT_ADDRESS_31337=0x5FbDB2315678afecb367f032d93F642f64180aa3

# Indirizzo contratto su Sepolia (chainId 11155111)
# Aggiornato automaticamente da "npm run deploy:sepolia"
VITE_CONTRACT_ADDRESS_11155111=0x_INDIRIZZO_DOPO_DEPLOY_SEPOLIA
